
<footer class="footer">
    <ul class="list-policy">
        <li>Base de promocion</li>
        <li>Política de Privacidad y Cookies</li>
        <li>Preguntas frecuentes</li>
        <li>Condiciones generales</li>
    </ul>

    <ul class="list-social">
        <li>
            <i class="fa fa-facebook"></i>
        </li>
        <li>
            <i class="fa fa-twitter"></i>
        </li>
        <li>
            <i class="fa fa-instagram"></i>
        </li>
        <li>
            <span class="text-footer">#LosMitosDelVerano</span>
        </li>
    </ul>
</footer>