{% extends 'base.html.twig' %}

{%- block body -%}

<div class="form-contact">
    <div class="text-contact">
        <span>Rellena este formulario y</span><br>
        <span>consigue tu experiencia:</span>
    </div>

    <div class="box-form-contact">
        {{ form(contact) }}
    </div>
</div>
{%- endblock -%}
