{% extends 'base.html.twig' %}

{%- block body -%}

    <div class="form-phone">
        <div class="text-home">
            <span>Gracias a</span><br>
            <span>#LosMitosDelVerano,</span><br>
            <span>disfruta tu experiencia por</span><br>
            <span>ser Cliente Vodafone</span>
        </div>
        <div class="phone">
            <div class="text-input">
                <p>Introduce tu número de móvil aquí</p>
            </div>

            {{ form(phone) }}
        </div>
    </div>
    <div id="error" class="error">
        <div class="error-text">
            <p class="error-red">Lo sentimos</p>
            <p>Esta experiencia es solo para clientes de Vodafone</p>
        </div>

    </div>
{%- endblock -%}

{%- block javascripts -%}
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
{%- endblock -%}
