{% extends 'base.html.twig' %}

{% block body %}

<div class="form-phone">
    <div class="text-home">
        <span>Gracias a</span><br>
        <span>#LosMitosDelVerano,</span><br>
        <span>disfruta tu experiencia por</span><br>
        <span>ser Cliente Vodafone</span>
    </div>
    <div class="phone">
        <div class="text-input">
            <p>Introduce tu número de móvil aquí</p>
        </div>

        {{ form(phone) }}
    </div>
</div>
{% endblock %}
