{% extends 'base.html.twig' %}

{% block title %}Hello LandingController!{% endblock %}

{% block body %}

<div class="form-thanks">
    <div class="text-thanks">
        <span>#LosMitosDelVerano</span>
    </div>
    <div class="thanks">
        <span class="title">¡Enhorabuena!</span>
        <span class="text">En breve recibirás un <strong>email con tu código regalo</strong> y las intrucciones para <strong>cajear tu experiencia</strong></span>
    </div>
</div>
{% endblock %}
